body{
    background-color: rgba(11, 148, 239, 0.574);
    color: rgb(63, 32, 32);
    /* background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fcenublu.az%2Fsizi-maraqlandiran%2Flankaran-saharda-faaliyyat-gostaran-kitab-magazalari%2F&psig=AOvVaw1yAJ1tnvFoxMQjAYa9y6hW&ust=1728764519037000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCLDlvO-Th4kDFQAAAAAdAAAAABAE"); */
    font-family: fantasy;
}
p{
    align-items: center;
    justify-content: center;
    display: flex;
    font-style: italic;
    font-stretch: ultra-condensed;
    font-size: 3rem;

}
.img{
    align-items: center;
    justify-content: center;
    display: flex;
 
}
img{
    background-attachment: fixed;
    height: 350px;
}